@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$body-font: "Roboto", serif;
$primary-color: #5c6bc0;
$secondary-color: #ffe082;
$background-color: #f4f4f4;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (min-width: $breakpoint-small) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (min-width: $breakpoint-medium) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (min-width: $breakpoint-large) {
      @content;
    }
  } @else if $breakpoint == xlarge {
    @media (min-width: $breakpoint-xlarge) {
      @content;
    }
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: $body-font;
}

html {
  box-sizing: border-box;
}

%heading {
  font-weight: bold;
  color: $primary-color;
}

.heading-1 {
  @extend %heading;
  font-size: 3.5rem;
  line-height: 1;
}

.heading-2 {
  @extend %heading;
  font-size: 2rem;
  line-height: 1;
}

main {
  width: 85%;
  margin: 0 auto;

  @include respond-to(xlarge) {
    width: 50%;
  }
}

@media (max-width: 460px) {
  .heading-1 {
    font-size: 2rem;
  }
  .heading-2 {
    font-size: 1.5rem;
  }
}
